<!DOCTYPE html>
<html>
<head>
  <title>Reports</title>
  <link rel="stylesheet" href="/fcd.css">
</head>
<body>
  <h1>Monthly Report</h1>
  <p>Total Income: ₹<%= report.totalIncome %></p>
  <p>Total Expenses: ₹<%= report.totalExpense %></p>
  <p>Savings: ₹<%= report.totalIncome - report.totalExpense %></p>
</body>
</html>
